body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}

/* header */
.header-container{
  display: block;
}

.header {
  position: absolute;
  top: 0;
  background-color: #000;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 1;
  margin-bottom: 0.8em;
  padding-top: 1em; 
  display: flex;
  font-weight: bold;
  text-align: center
}

.header ul {
  background-color: #000000;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  background-color: #000000;
  color: white;
  display: block;
  padding: 1rem;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}
/* 
.header-menu-item{
  padding: .5rem 0;
} */
.header li a:hover,
.header .menu-btn:hover {
  background-color: #2e2e2e;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  z-index: 289;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  z-index: 289;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 80vh;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* Logos */
.logo-original{
  /* {  top: "-12px", left: "15px", width: "100px" } */
  top: -.9rem;
  left: 1rem;
  width: 6rem;
}

.logo-alt{
  top: 2rem; 
  left: 1rem; 
  width: 65px
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header-menu-item {
    float: left;
  }
  .header-menu-item a {
    padding: 1rem 2rem;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    z-index: 289;
  }
  .header .menu-icon {
    display: none;
  }
}

@media (max-width: 1200px) {
  #responsiveSearch {
    margin-left: 90px;
  }
}
